*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: aliceblue;

}
button{
    padding: 10px 10px;
    border: 0px;
    background: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}
button:hover{
    background-color: rgb(196, 154, 154);
    color: rgb(0, 0, 0);
    transform: rotate(10px);
}
#parent1{
    background-color: rgb(214, 100, 59);
    gap: 20px;
    max-width: 100%;
    /* width: 100%; */
    /* flex align items vertically */
    display: flex;
    padding: 5px;
    padding-top: 5px;
    justify-content: space-between;
    /* flex wrap shrinks item to be responsive in all devices */
    flex-wrap: wrap;
}

.children1{
    background-color: yellow;
    /* margin: 20px; */
    border: 1px solid black;
    width: 10%;
    height: 100px;

}
#first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media screen (width < 768px){
    
}
@media (width > 480px) {
    #parent1{
        background-color: cyan;
    }
}








